.header{
    background: #013C63;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0A648F, #013C63);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0A648F, #013C63); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
    height: 3em;
    padding: 0px;
    display:flex;
    justify-content: space-between;
}

.footer{
    background: #013C63;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0A648F, #013C63);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0A648F, #013C63); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
    height: 3em;
    padding: 0px;
    display:flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0px;
}

.notifications{
    height: 100%;
    color: white;
    float: right;
    padding: 10px;
    z-index: 10000;
}

.footer-item{
    height: 100%;
    color: white;
    float: right;
    padding: 10px;
    z-index: 10000;
}

.footer-item-selected{
    background: #1a6b8f;  /* fallback for old browsers */
    height: 100%;
    color: white;
    float: right;
    padding: 10px;
    z-index: 10000;
    border-top-color: aqua;
}

.logo{
    height: 100%;
    color: white;
    float: left;
    padding: 7px;
}

.search{
    background: white;
    width: 100%;
    padding: 15px 20px;
}

.home-main-container {
    background: #013C63;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0A648F, #013C63);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0A648F, #013C63); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    align-items: center;
}

.home-animation-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: pop 300ms;
}



@keyframes pop {
    from {transform: scale(.1)}
    to {transform: scale(1)}
}