.App {
  text-align: center;
  height: 100%;
}

.img-regis{
  margin-top: 5%;
  height: 70%;
  width: 60%;
  max-height: 80%;
}

.MuiInput-underline::after{
   border-bottom: 2px solid #ffffff !important;
 }

.MuiInput-underline::before{
  border-bottom: 1px solid #ffffff !important;
}

.MuiCheckbox-colorPrimary.Mui-checked {
  color: #ffffff !important;
}

.MuiButton-textPrimary {
  background: #FFFFFD !important;
}

.registro{
  background: #013C63;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0A648F, #013C63);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0A648F, #013C63); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100%;
}

.bluepart{
  background: #013C63;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0A648F, #013C63);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0A648F, #013C63); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100%;
}

.whitepart{
  background: #ffffff;  /* fallback for old browsers */
  height: 50%;
  width: 100%;
  position: absolute;
  font-weight: bold;
  bottom: 0em;
}

.container{
  size: 5em;
  position: center;
  width: 70%;
  height: 100%;
  align-self: center;
  background: antiquewhite;
  margin: auto;
}

.formRegis{
  margin-top: 3%;
}

.formCorreo{
  margin-top: 3%;
  color: black;
}

.buttonBlue{
  size: 1.5em;
  font-weight: 200;
  background: #16608f;
  color: white;
  padding: 0.4pc;
  width: 100%;
  border-color: #16608f;
  position: center;
  horiz-align: center;
}

.menuBar ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.menuBar a {
  padding: 0.7em;
  display: block;
  background-color: #16608f;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
}

.menuBar a:hover {
  background-color: #1782be;
}

.menuBar ul li ul {
  display: none;
}

.menuBar ul li a:hover + ul, .menuCSS3 ul li ul:hover {
  display: block;
}

.icon{
  padding: 0.5em;
  margin: 0px;
  width: 210%;
  height: 40px;
  background-color: #16608f;
}

.icon hover {
  background-color: #1782be;
}

.card{
  background-color: #ffe9c9;

}