@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:600&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat Alternates', sans-serif;
  background: #013C63;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0A648F, #013C63);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0A648F, #013C63); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100%;
}

* {font-family: 'Montserrat Alternates', sans-serif;}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

html{
  height: 100%;
}

#root{
  height: 100%;
}
